In [1]:
import pandas as pd

In [2]:
ufo=pd.read_csv("http://bit.ly/uforeports")
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [3]:
ufo.loc[0,:]

City                       Ithaca
Colors Reported               NaN
Shape Reported           TRIANGLE
State                          NY
Time               6/1/1930 22:00
Name: 0, dtype: object

In [4]:
ufo.loc[[0,1,2],:]

          City Colors Reported Shape Reported State             Time
0       Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2      Holyoke             NaN           OVAL    CO  2/15/1931 14:00

In [9]:
ufo.loc[0:2,:]

          City Colors Reported Shape Reported State             Time
0       Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2      Holyoke             NaN           OVAL    CO  2/15/1931 14:00

In [12]:
ufo.loc[:,['City','State']]

                       City State
0                    Ithaca    NY
1               Willingboro    NJ
2                   Holyoke    CO
3                   Abilene    KS
4      New York Worlds Fair    NY
5               Valley City    ND
6               Crater Lake    CA
7                      Alma    MI
8                   Eklutna    AK
9                   Hubbard    OR
10                  Fontana    CA
11                 Waterloo    AL
12                   Belton    SC
13                   Keokuk    IA
14                Ludington    MI
15              Forest Home    CA
16              Los Angeles    CA
17                Hapeville    GA
18                   Oneida    TN
19               Bering Sea    AK
20                 Nebraska    NE
21                      NaN    LA
22                      NaN    LA
23                Owensboro    KY
24               Wilderness    WV
25                San Diego    CA
26               Wilderness    WV
27                   Clovis    NM
28               Los Alamos    NM
29             Ft. Duschene    UT
...                     ...   ...
18211               Holyoke    MA
18212                Carson    CA
18213              Pasadena    CA
18214                Austin    TX
18215              El Campo    TX
18216          Garden Grove    CA
18217         Berthoud Pass    CO
18218            Sisterdale    TX
18219          Garden Grove    CA
18220           Shasta Lake    CA
18221              Franklin    NH
18222        Albrightsville    PA
18223            Greenville    SC
18224               Eufaula    OK
18225           Simi Valley    CA
18226         San Francisco    CA
18227         San Francisco    CA
18228            Kingsville    TX
18229               Chicago    IL
18230           Pismo Beach    CA
18231           Pismo Beach    CA
18232                  Lodi    WI
18233             Anchorage    AK
18234              Capitola    CA
18235        Fountain Hills    AZ
18236            Grant Park    IL
18237           Spirit Lake    IA
18238           Eagle River    WI
18239           Eagle River    WI
18240                  Ybor    FL

[18241 rows x 2 columns]

In [5]:
ufo.loc[:,'City':'State']

                       City Colors Reported Shape Reported State
0                    Ithaca             NaN       TRIANGLE    NY
1               Willingboro             NaN          OTHER    NJ
2                   Holyoke             NaN           OVAL    CO
3                   Abilene             NaN           DISK    KS
4      New York Worlds Fair             NaN          LIGHT    NY
5               Valley City             NaN           DISK    ND
6               Crater Lake             NaN         CIRCLE    CA
7                      Alma             NaN           DISK    MI
8                   Eklutna             NaN          CIGAR    AK
9                   Hubbard             NaN       CYLINDER    OR
10                  Fontana             NaN          LIGHT    CA
11                 Waterloo             NaN       FIREBALL    AL
12                   Belton             RED         SPHERE    SC
13                   Keokuk             NaN           OVAL    IA
14                Ludington             NaN           DISK    MI
15              Forest Home             NaN         CIRCLE    CA
16              Los Angeles             NaN            NaN    CA
17                Hapeville             NaN            NaN    GA
18                   Oneida             NaN      RECTANGLE    TN
19               Bering Sea             RED          OTHER    AK
20                 Nebraska             NaN           DISK    NE
21                      NaN             NaN            NaN    LA
22                      NaN             NaN          LIGHT    LA
23                Owensboro             NaN      RECTANGLE    KY
24               Wilderness             NaN           DISK    WV
25                San Diego             NaN          CIGAR    CA
26               Wilderness             NaN           DISK    WV
27                   Clovis             NaN           DISK    NM
28               Los Alamos             NaN           DISK    NM
29             Ft. Duschene             NaN           DISK    UT
...                     ...             ...            ...   ...
18211               Holyoke             NaN        DIAMOND    MA
18212                Carson             NaN           DISK    CA
18213              Pasadena           GREEN       FIREBALL    CA
18214                Austin             NaN      FORMATION    TX
18215              El Campo             NaN          OTHER    TX
18216          Garden Grove          ORANGE          LIGHT    CA
18217         Berthoud Pass             NaN       TRIANGLE    CO
18218            Sisterdale             NaN        DIAMOND    TX
18219          Garden Grove             NaN        CHEVRON    CA
18220           Shasta Lake            BLUE           DISK    CA
18221              Franklin             NaN           DISK    NH
18222        Albrightsville             NaN          OTHER    PA
18223            Greenville             NaN            NaN    SC
18224               Eufaula             NaN           DISK    OK
18225           Simi Valley             NaN      FORMATION    CA
18226         San Francisco             NaN      FORMATION    CA
18227         San Francisco             NaN       TRIANGLE    CA
18228            Kingsville             NaN          LIGHT    TX
18229               Chicago             NaN           DISK    IL
18230           Pismo Beach             NaN           OVAL    CA
18231           Pismo Beach             NaN           OVAL    CA
18232                  Lodi             NaN            NaN    WI
18233             Anchorage             RED        VARIOUS    AK
18234              Capitola             NaN       TRIANGLE    CA
18235        Fountain Hills             NaN            NaN    AZ
18236            Grant Park             NaN       TRIANGLE    IL
18237           Spirit Lake             NaN           DISK    IA
18238           Eagle River             NaN            NaN    WI
18239           Eagle River             RED          LIGHT    WI
18240                  Ybor             NaN           OVAL    FL

[18241 rows x 4 columns]

In [6]:
ufo.loc[0:2,:]

          City Colors Reported Shape Reported State             Time
0       Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2      Holyoke             NaN           OVAL    CO  2/15/1931 14:00

In [7]:
ufo.loc[0:2]

          City Colors Reported Shape Reported State             Time
0       Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2      Holyoke             NaN           OVAL    CO  2/15/1931 14:00

In [8]:
ufo.loc[:,'City']

0                      Ithaca
1                 Willingboro
2                     Holyoke
3                     Abilene
4        New York Worlds Fair
5                 Valley City
6                 Crater Lake
7                        Alma
8                     Eklutna
9                     Hubbard
10                    Fontana
11                   Waterloo
12                     Belton
13                     Keokuk
14                  Ludington
15                Forest Home
16                Los Angeles
17                  Hapeville
18                     Oneida
19                 Bering Sea
20                   Nebraska
21                        NaN
22                        NaN
23                  Owensboro
24                 Wilderness
25                  San Diego
26                 Wilderness
27                     Clovis
28                 Los Alamos
29               Ft. Duschene
                 ...
18211                 Holyoke
18212                  Carson
18213                Pasadena
18214                  Austin
18215                El Campo
18216            Garden Grove
18217           Berthoud Pass
18218              Sisterdale
18219            Garden Grove
18220             Shasta Lake
18221                Franklin
18222          Albrightsville
18223              Greenville
18224                 Eufaula
18225             Simi Valley
18226           San Francisco
18227           San Francisco
18228              Kingsville
18229                 Chicago
18230             Pismo Beach
18231             Pismo Beach
18232                    Lodi
18233               Anchorage
18234                Capitola
18235          Fountain Hills
18236              Grant Park
18237             Spirit Lake
18238             Eagle River
18239             Eagle River
18240                    Ybor
Name: City, dtype: object

In [10]:
ufo.loc[:,['City','State']]

                       City State
0                    Ithaca    NY
1               Willingboro    NJ
2                   Holyoke    CO
3                   Abilene    KS
4      New York Worlds Fair    NY
5               Valley City    ND
6               Crater Lake    CA
7                      Alma    MI
8                   Eklutna    AK
9                   Hubbard    OR
10                  Fontana    CA
11                 Waterloo    AL
12                   Belton    SC
13                   Keokuk    IA
14                Ludington    MI
15              Forest Home    CA
16              Los Angeles    CA
17                Hapeville    GA
18                   Oneida    TN
19               Bering Sea    AK
20                 Nebraska    NE
21                      NaN    LA
22                      NaN    LA
23                Owensboro    KY
24               Wilderness    WV
25                San Diego    CA
26               Wilderness    WV
27                   Clovis    NM
28               Los Alamos    NM
29             Ft. Duschene    UT
...                     ...   ...
18211               Holyoke    MA
18212                Carson    CA
18213              Pasadena    CA
18214                Austin    TX
18215              El Campo    TX
18216          Garden Grove    CA
18217         Berthoud Pass    CO
18218            Sisterdale    TX
18219          Garden Grove    CA
18220           Shasta Lake    CA
18221              Franklin    NH
18222        Albrightsville    PA
18223            Greenville    SC
18224               Eufaula    OK
18225           Simi Valley    CA
18226         San Francisco    CA
18227         San Francisco    CA
18228            Kingsville    TX
18229               Chicago    IL
18230           Pismo Beach    CA
18231           Pismo Beach    CA
18232                  Lodi    WI
18233             Anchorage    AK
18234              Capitola    CA
18235        Fountain Hills    AZ
18236            Grant Park    IL
18237           Spirit Lake    IA
18238           Eagle River    WI
18239           Eagle River    WI
18240                  Ybor    FL

[18241 rows x 2 columns]

In [12]:
ufo.loc[:,'City':'State']

                       City Colors Reported Shape Reported State
0                    Ithaca             NaN       TRIANGLE    NY
1               Willingboro             NaN          OTHER    NJ
2                   Holyoke             NaN           OVAL    CO
3                   Abilene             NaN           DISK    KS
4      New York Worlds Fair             NaN          LIGHT    NY
5               Valley City             NaN           DISK    ND
6               Crater Lake             NaN         CIRCLE    CA
7                      Alma             NaN           DISK    MI
8                   Eklutna             NaN          CIGAR    AK
9                   Hubbard             NaN       CYLINDER    OR
10                  Fontana             NaN          LIGHT    CA
11                 Waterloo             NaN       FIREBALL    AL
12                   Belton             RED         SPHERE    SC
13                   Keokuk             NaN           OVAL    IA
14                Ludington             NaN           DISK    MI
15              Forest Home             NaN         CIRCLE    CA
16              Los Angeles             NaN            NaN    CA
17                Hapeville             NaN            NaN    GA
18                   Oneida             NaN      RECTANGLE    TN
19               Bering Sea             RED          OTHER    AK
20                 Nebraska             NaN           DISK    NE
21                      NaN             NaN            NaN    LA
22                      NaN             NaN          LIGHT    LA
23                Owensboro             NaN      RECTANGLE    KY
24               Wilderness             NaN           DISK    WV
25                San Diego             NaN          CIGAR    CA
26               Wilderness             NaN           DISK    WV
27                   Clovis             NaN           DISK    NM
28               Los Alamos             NaN           DISK    NM
29             Ft. Duschene             NaN           DISK    UT
...                     ...             ...            ...   ...
18211               Holyoke             NaN        DIAMOND    MA
18212                Carson             NaN           DISK    CA
18213              Pasadena           GREEN       FIREBALL    CA
18214                Austin             NaN      FORMATION    TX
18215              El Campo             NaN          OTHER    TX
18216          Garden Grove          ORANGE          LIGHT    CA
18217         Berthoud Pass             NaN       TRIANGLE    CO
18218            Sisterdale             NaN        DIAMOND    TX
18219          Garden Grove             NaN        CHEVRON    CA
18220           Shasta Lake            BLUE           DISK    CA
18221              Franklin             NaN           DISK    NH
18222        Albrightsville             NaN          OTHER    PA
18223            Greenville             NaN            NaN    SC
18224               Eufaula             NaN           DISK    OK
18225           Simi Valley             NaN      FORMATION    CA
18226         San Francisco             NaN      FORMATION    CA
18227         San Francisco             NaN       TRIANGLE    CA
18228            Kingsville             NaN          LIGHT    TX
18229               Chicago             NaN           DISK    IL
18230           Pismo Beach             NaN           OVAL    CA
18231           Pismo Beach             NaN           OVAL    CA
18232                  Lodi             NaN            NaN    WI
18233             Anchorage             RED        VARIOUS    AK
18234              Capitola             NaN       TRIANGLE    CA
18235        Fountain Hills             NaN            NaN    AZ
18236            Grant Park             NaN       TRIANGLE    IL
18237           Spirit Lake             NaN           DISK    IA
18238           Eagle River             NaN            NaN    WI
18239           Eagle River             RED          LIGHT    WI
18240                  Ybor             NaN           OVAL    FL

[18241 rows x 4 columns]

In [18]:
ufo[ufo.City=='Valley City'].State

5        ND
2520     OH
4882     ND
17087    OH
Name: State, dtype: object

In [19]:
ufo.loc[ufo.City=='Valley City','State']

5        ND
2520     OH
4882     ND
17087    OH
Name: State, dtype: object

In [22]:
ufo.iloc[0:2,:]

          City Colors Reported Shape Reported State             Time
0       Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro             NaN          OTHER    NJ  6/30/1930 20:00

In [24]:
ufo.iloc[:]

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00
3,Abilene,NaN,DISK,KS,6/1/1931 13:00
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00
5,Valley City,NaN,DISK,ND,9/15/1934 15:30
6,Crater Lake,NaN,CIRCLE,CA,6/15/1935 0:00
7,Alma,NaN,DISK,MI,7/15/1936 0:00
8,Eklutna,NaN,CIGAR,AK,10/15/1936 17:00
9,Hubbard,NaN,CYLINDER,OR,6/15/1937 0:00
10,Fontana,NaN,LIGHT,CA,8/15/1937 21:00
11,Waterloo,NaN,FIREBALL,AL,6/1/1939 20:00
12,Belton,RED,SPHERE,SC,6/30/1939 20:00
13,Keokuk,NaN,OVAL,IA,7/7/1939 2:00
14,Ludington,NaN,DISK,MI,6/1/1941 13:00
15,Forest Home,NaN,CIRCLE,CA,7/2/1941 11:30
16,Los Angeles,NaN,NaN,CA,2/25/1942 0:00
17,Hapeville,NaN,NaN,GA,6/1/1942 22:30
18,Oneida,NaN,RECTANGLE,TN,7/15/1942 1:00
19,Bering Sea,RED,OTHER,AK,4/30/1943 23:00
20,Nebraska,NaN,DISK,NE,6/1/1943 15:00
21,NaN,NaN,NaN,LA,8/15/1943 0:00
22,NaN,NaN,LIGHT,LA,8/15/1943 0:00
23,Owensboro,NaN,RECTANGLE,KY,10/15/1943 11:00
24,Wilderness,NaN,DISK,WV,1/1/1944 10:00
25,San Diego,NaN,CIGAR,CA,1/1/1944 12:00
26,Wilderness,NaN,DISK,WV,1/1/1944 12:00
27,Clovis,NaN,DISK,NM,4/2/1944 11:00
28,Los Alamos,NaN,DISK,NM,6/1/1944 12:00
29,Ft. Duschene,NaN,DISK,UT,6/30/1944 10:00
...,...,...,...,...,...
18211,Holyoke,NaN,DIAMOND,MA,12/28/2000 18:00
18212,Carson,NaN,DISK,CA,12/28/2000 18:20
18213,Pasadena,GREEN,FIREBALL,CA,12/28/2000 19:10
18214,Austin,NaN,FORMATION,TX,12/29/2000 0:00
18215,El Campo,NaN,OTHER,TX,12/29/2000 9:00
18216,Garden Grove,ORANGE,LIGHT,CA,12/29/2000 16:10
18217,Berthoud Pass,NaN,TRIANGLE,CO,12/29/2000 19:30
18218,Sisterdale,NaN,DIAMOND,TX,12/29/2000 20:00
18219,Garden Grove,NaN,CHEVRON,CA,12/29/2000 20:30
18220,Shasta Lake,BLUE,DISK,CA,12/29/2000 20:30
18221,Franklin,NaN,DISK,NH,12/29/2000 20:50
18222,Albrightsville,NaN,OTHER,PA,12/29/2000 21:00
18223,Greenville,NaN,NaN,SC,12/29/2000 22:00
18224,Eufaula,NaN,DISK,OK,12/29/2000 23:30
18225,Simi Valley,NaN,FORMATION,CA,12/30/2000 10:00
18226,San Francisco,NaN,FORMATION,CA,12/30/2000 22:00
18227,San Francisco,NaN,TRIANGLE,CA,12/30/2000 22:00
18228,Kingsville,NaN,LIGHT,TX,12/31/2000 4:00
18229,Chicago,NaN,DISK,IL,12/31/2000 11:45
18230,Pismo Beach,NaN,OVAL,CA,12/31/2000 20:00
18231,Pismo Beach,NaN,OVAL,CA,12/31/2000 20:00
18232,Lodi,NaN,NaN,WI,12/31/2000 20:30
18233,Anchorage,RED,VARIOUS,AK,12/31/2000 21:00
18234,Capitola,NaN,TRIANGLE,CA,12/31/2000 22:00
18235,Fountain Hills,NaN,NaN,AZ,12/31/2000 23:00
18236,Grant Park,NaN,TRIANGLE,IL,12/31/2000 23:00
18237,Spirit Lake,NaN,DISK,IA,12/31/2000 23:00
18238,Eagle River,NaN,NaN,WI,12/31/2000 23:45
18239,Eagle River,RED,LIGHT,WI,12/31/2000 23:45
18240,Ybor,NaN,OVAL,FL,12/31/2000 23:59

In [35]:
drinks=pd.read_csv("http://bit.ly/drinksbycountry",index_col='country')
drinks.head()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
country,,,,,
Afghanistan,0,0,0,0.0,Asia
Albania,89,132,54,4.9,Europe
Algeria,25,0,14,0.7,Africa
Andorra,245,138,312,12.4,Europe
Angola,217,57,45,5.9,Africa

In [37]:
drinks.ix['Albania',0]

89

In [39]:
drinks.ix['Andorra',1]

138

In [40]:
drinks.ix[1,'beer_servings']

89

In [42]:
drinks.ix['Albania':'Angola',0:2]

         beer_servings  spirit_servings
country
Albania             89              132
Algeria             25                0
Andorra            245              138
Angola             217               57